.progressBar{
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    height: 8px;
    background-color: #fdf700;
    transform-origin: 0%;
    z-index: 10;
}

@media (max-width: 639px) {
    .progressBar {
        height: 0.2vh;
        top: 0px;
    }
}